
    .grid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .col-50 {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }

    .col-100 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .grid-button {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: flex-end;
    }

    input[type*="text"] {
        width: 80%;
        height: 20px;
    }

    #TMessaggio {
        width: 100%;
        height: 300px;
        vertical-align: top;
    }

    #TComunicazione {
        width: 100%;
        height: 300px;
        vertical-align: top;
    }

    .btn-comunicazione {
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }


    [id*="D"] {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 80%;
        height: 30px;
    }
    /* BOTTONI */
    [id*="B"] {
        width: 120px;
        height: 30px;
        background-color: black;
        color: white;
        font-weight: bold;
        border-radius: 15px;
    }

        [id*="B"]:hover {
            background-color: white;
            color: black;
        }
    /* RESPONSIVE */
    @media (max-width: 800px) {
        .col-50 {
            width: 100%;
        }
    }

    @media (max-width: 800px) {
        .grid-button {
            margin-top: 10px;
        }
    }

    @media(max-width: 800px) {
        input[type="text"] {
            width: 100%;
        }
    }

